@font-face
{ /* Define a new font called quicksand */
    font-family: 'quicksand';
    src: url('../fonts/quicksand/quicksand-regular-webfont.eot');
    src: url('../fonts/quicksand/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand/quicksand-regular-webfont.woff') format('woff'),
         url('../fonts/quicksand/quicksand-regular-webfont.ttf') format('truetype'),
         url('../fonts/quicksand/quicksand-regular-webfont.svg#quicksand') format('svg');
}

.preload *
 {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

::-webkit-scrollbar
{
	display: none;
}

::selection
{
	background: #000;
}
::-moz-selection
{
	background: #000;
}

#main
{
	s-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
	-o-user-select:none;
}

body
{	
	background-image: url("../img/bg.jpg");
}

body, #linkDisplay
{
	margin: 0px;
	padding: 0px;
}

img
{
	border-radius: 40%;
}

form input
{
	color: #fff;
	border: none;
	outline: none;
	background-color: rgba(0,0,0,0.0);
	border-radius: 5px;
	font-family: quicksand;
	font-size: 18px;
	width: 95%;
	height: 65%;
	margin-top: 6px;
	padding: 0px 6px;
	
    -moz-transition: background-color 0.5s, color 0.5s;
    -webkit-transition: background-color 0.5s, color 0.5s;
    -o-transition: background-color 0.5s, color 0.5s;
    transition: background-color 0.5s, color 0.5s;
}

form input:focus
{
	background-color: #fff;
	color: #000;
	
    -moz-transition: background-color 0.5s, color 0.5s;
    -webkit-transition: background-color 0.5s, color 0.5s;
    -o-transition: background-color 0.5s, color 0.5s;
    transition: background-color 0.5s, color 0.5s;
}

#searchBackGround
{
	margin: auto;
	max-width: 610px;
	height: 35px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 10px;
}

#searchBar
{
	margin: auto;
	padding: 0px 15px;
	text-align: center;
}

@media screen and (max-width: 480px)
{
	form input
	{
		width: 90%;
	}
}

#searchBarCentered
{
	margin: auto;
	text-align: center;
}

.appImg
{
	width: 128px;
	height: 128px;
	box-shadow: 3px 5px 10px 0px rgba(0,0,0,0.75);
	margin-bottom: 20px;
	
	moz-transition: width 2s, height 2s;
	-webkit-transition: width 2s, height 2s;
	-o-transition: width 2s, height 2s;
	transition: width 2s, height 2s;
}

.appLi
{
	display: inline-block;
	width: 168px;
	margin: auto;
	text-align: center;
	margin-top: 40px;
	
	moz-transition: width 2s;
	-webkit-transition: width 2s;
	-o-transition: width 2s;
	transition: width 2s;
}

#linkDisplay
{
	text-align: center;
}

.listImg
{
	margin: 0px;
	width: 16px;
	height: 16px;
	vertical-align: top;
}

a, p
{
	color: #fff;
	text-decoration: none;
	font-family: quicksand;
	font-size: 18px;
	text-align: center;
	
	moz-transition: font-size 2s;
	-webkit-transition: font-size 2s;
	-o-transition: font-size 2s;
	transition: font-size 2s;
}

a:hover
{
	color: #abd2cc;
}

.appImg:hover
{
	box-shadow: 5px 8px 10px 0px rgba(0,0,0,0.75);
}

footer
{
	margin-top: 75px;
}

.copyright
{
	text-align: center;
	margin: auto;
	height: 40px;
}

strong, em, i
{
	text-decoration: none;
	font-weight: none;
}

@media screen and (max-width: 720px)
{
	.appImg
	{
		width: 64px;
		height: 64px;
		
		moz-transition: width 2s, height 2s;
		-webkit-transition: width 2s, height 2s;
		-o-transition: width 2s, height 2s;
		transition: width 2s, height 2s;
	}
	
	.appLi
	{
		width: 90px;
		
		moz-transition: width 2s;
		-webkit-transition: width 2s;
		-o-transition: width 2s;
		transition: width 2s;
	}
	
	a, .copyright
	{
		font-size: 10px;
		
		 moz-transition: font-size 2s;
		-webkit-transition: font-size 2s;
		-o-transition: font-size 2s;
		transition: font-size 2s;
	}
}